.App-Logo {
  height: 25vmin;
  width: 55vmin;
}
.credits {
  color: white;
}
img {
  height: 20vh;
}
::placeholder {
  color: white;
}

.search {
  background: transparent;
  border-radius: 16px;
  min-height: 5vmin;
  min-width: 15%;
  text-align: center;
  color: #dde5ff;
  outline: none;
}

.pagination-prev {
  padding: 8px 16px;

  border-radius: 12px;
}

.pagination-next {
  padding: 8px 16px;

  border-radius: 12px;
}

.pagination-next:hover {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 14%,
    rgba(0, 212, 255, 1) 100%
  );
}

.pagination-prev:hover {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 14%,
    rgba(0, 212, 255, 1) 100%
  );
}

CardInfo-effect:hover {
  background-color: #dde5ff;
  transform: scale(1.5);
}
CardInfo-effect {
  transition: transform 0.4s;
}
