.App-Logo {
  height: 30vmin;
  width: 60vmin;
}

.search {
  background-color: #b2e5ff;
  border-radius: 16px;
  min-height: 5vmin;
  min-width: 15%;
  text-align: center;
  outline: none;
}

.App-Header {
  background-color: #e73a51;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardList {
  background-color: #b2e5ff;
  height: max-content;
}

.pagination-prev {
  padding: 8px 16px;
  background-color: #e73a51;
  border-radius: 12px;
}

.pagination-next {
  padding: 8px 16px;
  background-color: #e73a51;
  border-radius: 12px;
}

.pagination-next:hover {
  background-color: #b2e5ff;
  color: #e73a51;
}

.pagination-prev:hover {
  background-color: #b2e5ff;
  color: #e73a51;
}

.pagination-next {
  transition-duration: 0.4s;
}

.pagination-prev {
  transition-duration: 0.4s;
}

/* .Card-effect:hover {
  background-color: #dde5ff;
  transform: scale(1.5);
}
.Card-effect {
  transition: transform 0.4s;
} */
